[flake8]
max-line-length = 120
max-complexity = 15
exclude =
    .git,
    __pycache__,
    .venv,
    vaga_linkedin,
    build,
    dist,
    *.egg-info,
    .pytest_cache,
    .mypy_cache,
    spark-warehouse

# Error codes to ignore
ignore =
    E203,
    E501,
    W503,
    W504,
    E402,
    C901,
    E741,
    F821,
    F841,
    W291

# Select specific error codes
select = E,W,F,C,N

# Per-file ignores
per-file-ignores =
    __init__.py:F401
    test_*.py:F401,F811
    */notebooks_dlt/*.py:F403,F405
    */notebooks/*.py:F403,F405
    *dlt*transformation.py:F403,F405
    */transform_agent/transform_agent.py:F403,F405

# Show source code for each error
show-source = True

# Show statistics
statistics = True

# Count errors
count = True
